/.idea
/.vs
/bin
/cmake-build-debug
/CmakeFiles
/Debug
/googletest
/html
/lib
/out
/Release
/tests

AUL.sln
AUL.vcxproj
AUL.vcxproj.filters
AUL.vcxproj.user

aul_debug
AUL_TESTS

CMakeCache.txt

CmakeSettings.json

Doxyfile
MakeFile
